
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    /*border: solid 1px #ddd;*/
}

body {
    background-color: #f2f2f2; /* 淺灰背景 */
    color: #333; /* 深灰文字 */
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

/* --- 2. 導覽列 --- */
header {
    background-color: #fff;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #333;
    cursor: pointer;
}

.logo-shop {
    position: absolute;
    color: #555;
    left: 250px;
    top: 19px;
}

.logo-manage {
    position: absolute;
    color: #555;
    left: 340px;
    top: 19px;
}

.nav-links {
    display: flex;
    color: #555;
    align-items: center;
    gap: 20px;
}

.user {
    font-size: 20px;
    margin-right: 10px;
}
.cart-icon {
    font-size: 26px;
    cursor: pointer;
    margin-right: 20px;
}
.cart-icon:hover {
    color: #000;
}

.btn {
    padding: 8px 20px;
    border: 1px solid #333;
    background: transparent;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
}

.btn:hover {
    background: #3a4a3f;
    color: #fff;
}

/* --- 3. Hero Banner (形象區) --- */
.hero {
    height: 600px;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 10px;
}

.hero p {
    color: #666;
    margin-bottom: 20px;
    font-size: 20px;
}

.hero .btn {
    padding: 8px 24px;
    font-size: 26px;
}
/* --- 4. 彈跳視窗 (Modal) --- */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    padding: 40px;
    width: 400px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: #aaa;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #666;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    background: #fafafa;
    outline: none;
}

.form-group input:focus {
    border-color: #333;
}

.modal-title {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}

/* Vue Transition 動畫 (淡入淡出) */
.fade-enter-active, .fade-leave-active {
    transition: opacity 0.3s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}
