
* {
    box-sizing: border-box;
    font-family: 'Microsoft JhengHei', Arial, sans-serif;
    /*border: 1px solid*/
}

body {
    background-color: #f8f9fa;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

/*導覽列*/
header {
    background-color: #fff;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 100;
    height: 80px;
}

/* 左邊 */
.header-left {
    display: flex;
    align-items: center;
    gap: 25px;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #333;
    cursor: pointer;
}
.logo:hover {
    color: #887538;
}

.nav-item {
    font-size: 24px;
    color: #72a419;
    font-weight: bold;
    transition: 0.2s;
    cursor: pointer;
}

.nav-links {
    display: flex;
    color: #555;
    align-items: center;
    gap: 20px;
}

.user {
    font-size: 22px;
    margin-right: 10px;
    font-weight: 600;
}

/* 購物車 */
.cart-wrapper {
    position: relative;
    display: inline-block;
    padding: 10px 0;
    margin-right: 20px;
}

.cart-icon {
    font-size: 26px;
    cursor: pointer;
    position: relative;
}
.cart-icon:hover {
    color: #887538;
}

/* 購物車數量 */
.badge {
    position: absolute;
    top: -8px;
    right: -10px;
    background-color: #eebb1c;
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
    border: 1px solid #fff;
}

/* --- 下拉選單 (Mini Cart) --- */
.mini-cart-dropdown {
    position: absolute;
    top: 100%; /* 在 wrapper 的正下方 */
    right: -10px;
    width: 340px;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    border-radius: 4px;
    z-index: 999;

    /* 預設隱藏 */
    display: none;
    cursor: default;
    border: 1px solid #e0e0e0;
}

.cart-wrapper:hover .mini-cart-dropdown {
    display: block;
    animation: fadeIn 0.2s ease-in;
}

/* 動畫效果 */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

/* --- 下拉選單內容樣式 --- */
.empty-cart {
    padding: 40px;
    text-align: center;
    color: #888;
}

.mini-list {
    max-height: 280px; /* 超過高度就捲動 */
    overflow-y: auto;
    list-style: none;
    margin: 0;
    padding: 0;
}

.mini-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    transition: 0.2s;
}
.mini-item:hover {
    background-color: #f8f8f8;
}

.item-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: 1px solid #eee;
    margin-right: 10px;
}

.item-info {
    flex: 1; /* 佔滿剩餘空間 */
    overflow: hidden;
    margin-right: 10px;
}

.item-name {
    font-size: 14px;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* 太長顯示... */
    margin-bottom: 4px;
}

.item-price {
    color: #eebb1c;
    font-size: 14px;
}

.item-count {
    font-size: 16px;
    color: #666;
    margin-left: 10px;
}

/* 刪除 */
.delete-btn {
    margin-left: 15px;
    color: #bbb;
    cursor: pointer;
    font-size: 14px;
    padding: 5px;
    transition: 0.2s;
}

.delete-btn:hover {
    color: #ee4d2d;
    transform: scale(1.2);
}

.mini-footer {
    padding: 10px 15px;
    border-top: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;
}

.total-text {
    font-size: 16px;
    color: #666;
}

.btn-checkout {
    background-color: #eebb1c;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 14px;
}
.btn-checkout:hover {
    background-color: #e3b00d;
}


.btn {
    padding: 8px 20px;
    border: 1px solid #333;
    background: transparent;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;
}

.btn:hover {
    background: #c9cac5;
}

/*搜尋列*/
.search-bar {
    display: flex;
    justify-content: center; /* 置中 */
    gap: 10px;               /* 元素之間的間距 */
    margin: 20px 0;          /* 上下留白 */
}

.search-input {
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.btn-search{
    background-color: #2d7ba5;
    color: white;
    border-radius: 4px;
}
.btn-clear {
    background-color: #6c757d;
    color: white;
    border-radius: 4px;
}
.btn-search:hover {background: #296671;}
.btn-clear:hover {background: #5f615f;}

/*分頁列*/
/* 分頁外框 */
.pagination-bar {
    display: flex;
    justify-content: center; /
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

/* 上一頁/下一頁按鈕 */
.btn-page {
    background: white;
    border: 1px solid #333;
    border-radius: 4px;
    padding: 5px 12px;
    cursor: pointer;
    color: #555;
}
.btn-page:disabled {
    color: #ccc;
    cursor: not-allowed;
    background: #f9f9f9;
}

/* 數字頁碼 */
.page-number {
    padding: 5px 12px;
    cursor: pointer;
    border: 1px solid transparent; /* 預留邊框位置避免跳動 */
    border-radius: 4px;
    font-weight: bold;
    color: #555;
    transition: 0.3s;
}

.page-number:hover,.btn-page:hover {
    background-color: #3a4a3f;
    color: #fff;
}

/* 當前頁碼 (Active) */
.page-number.active {
    background-color: #565863; /* 深色背景 */
    color: white;           /* 白字 */
    border-color: #333;
}

/*xx*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/*排版設計*/
.product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px; /* 卡片之間的間距 */
}

/*卡片設計*/
.card {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: 4px;
    overflow: hidden; /* 確保內容不超出圓角 */
    /*position: relative; */
    display: flex;
    flex-direction: column; /* 讓內容垂直排列 */
    height: 100%; /* 讓同列卡片等高 */
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

/* 圖片設計 */
.card-img-top {
    width: 100%;
    height: 200px;
    /*background-color: #dee2e6;*/
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    /*color: #6c757d;*/
    font-size: 19.2px;
}

/* 真實圖片蓋上去 */
.card-img-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 內容區 */
.card-body {
    padding: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;/* 撐開剩餘空間，讓按鈕置底 */
}

.card-title {
    font-size: 20px;
    font-weight: 550;
    margin-top: 15px;
    margin-bottom: 8px;
    color: #212529;
}
/* 價格 */
.price-text {
    margin-bottom: 5px;
    font-size: 16px;
    color: #212529;
}
/* 庫存 */
.stock-text {
    margin-bottom: 15px;
    font-size: 16px;
    color: #212529;
}
/*購買數量*/
.count {
    position: relative;
    margin-bottom: 16px;
    font-size: 16px;
    color: #212529;
}
/* 設定輸入框的樣式 */
.count-input {
    width: 40px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin: 0 5px;
    padding: 2px;
}

/* 隱藏瀏覽器預設的 "上下小箭頭"  */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*庫存不足*/
.error-text {
    position: absolute;
    top: 100%;
    left: 53%;
    color: #e44b4b !important;
    font-size: 14px;
}

/* 按鈕 */
.card-footer {
    padding: 24px;
    padding-top: 0;
    background: transparent;
    border: none;
    text-align: center;
    margin-top: auto;
}

.btn-add-cart {
    color: #212529;
    border: 1px solid #212529;
    background-color: transparent;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s;
    display: inline-block;
}
.btn-add-cart:hover {
    background-color: #c9cac5;
}